<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/" method="post">
    <label>
        <input type="text" name="keyword" placeholder="Введите название вакансии" required>
    </label>
    <button type="submit">Поиск</button>
</form>
    <div th:if="${vacancyList == null or vacancyList.isEmpty()}">
        No items available
        <ul th:if="${vacancyList != null and not vacancyList.isEmpty()}">
            <table>
                <thead>
                <tr>
                    <th>Название вакансии</th>
                    <th>Ссылка</th>
                </thead>
                <tbody>
                <tr th:each="vacancy : ${vacancyList}">
                    <td th:text="${vacancy.name}"></td>
                    <td>
                        <a th:href="${vacancy.alternateUrl}" th:text="'Ссылка на вакансию'"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </ul>
    </div>
    <!--    <div>-->
    <!--        <span th:if="${currentPage > 1}">-->
    <!--            <a th:href="@{vacancies(page=${currentPage - 1})}"> Назад</a>-->
    <!--        </span>-->
    <!--        <span>-->
    <!--            <a th:href="@{vacancies(page=${currentPage + 1})}"> Вперёд</a>-->
    <!--        </span>-->
    <!--    </div>-->
</body>
</html>