<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
    <form action="/" method="post" style="display: flex; align-items: center;">
        <label style="margin-right: 10px;">
            <input type="text" name="keyword" placeholder="Введите название вакансии" required>
        </label>
        <button type="submit">Поиск</button>

        <div style="margin-left: 20px;">
            <h2 style="display: inline;">Общее количество вакансий:</h2>
            <p style="display: inline;" th:text="${totalVacancy}"></p>
        </div>
    </form>

    <div>
        <div th:if="${vacancyList == null or vacancyList.isEmpty()}">
            No items available
        </div>
        <ul th:if="${vacancyList != null and not vacancyList.isEmpty()}">
            <table>
                <thead>
                <tr>
                    <th>Название вакансии</th>
                    <th>Опыт</th>
                    <th>Ключевое слово</th>
                    <th>Ссылка</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="vacancy : ${vacancyList}">
                    <td th:text="${vacancy.name}"></td>
                    <td th:text="${vacancy.experience}"></td>
                    <td th:text="${vacancy.keyword}"></td>
                    <td>
                        <a th:href="${vacancy.alternateUrl}" th:text="'Ссылка на вакансию'"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </ul>
    </div>
    <div style="margin-left: 500px;">
        <p style="display: inline;" th:text="${totalVacancy/20}"></p>
    </div>
    </body>
</html>